* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

header {
    background-color: hsl(0, 100%, 95%);
}

.navegacion {
    background-color: hsl(0, 0%, 100%);
}

.titulo {
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
    font-size: 850%;
    color: rgb(93, 6, 173);
    text-decoration: underline;
    text-align: end;
}

.titulo__subtitulo {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 200%;
    color: black;
    text-align: end;
}

ul {
    margin-top: 1rem;
    background-color: rgb(10, 10, 10);
    padding-top: 2rem;
    text-align: center;
}

li {
    list-style: none;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 160%;
    margin-bottom: 3rem;
    padding: 3rem;
}

a {
    color: beige;
    text-decoration: double;
}

.logo {
    max-width: 100%;
    margin-left: 5rem;
    height: 15%;
    width: 15%;
}

.fondo {
    max-width: 100%;
    margin-left: 5rem;
    margin-right: 2rem;
}

.fondoindex {
    background-image: url(../img/fondoindex1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.fondo__galeria {
    background-image: url(../img/fondotodo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.fondo__contacto {
    background-image: url(../img/fondotodo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.fondo__ubicacion {
    background-image: url(../img/fondotodo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body {
    background-color: #FFDFD3;
}

.tituloindex {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 290%;
    text-align: center;
    color: rgb(58, 9, 58);
    margin-top: 5rem;
}

.informacion {
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    font-style: normal;
    text-decoration: underline;
    text-align: center;
    margin-top: 10rem;
}

.informacion__descripcion {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-style: normal;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: 10rem;
    margin-left: 7rem;
    text-align: justify;
    color: black;
}

.posibilidades {
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    font-style: normal;
    text-decoration: underline;
    text-align: center;
    margin-top: 10rem;
}

.manos {
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    font-style: normal;
    margin-top: 10rem;
}

table {
    border-color: black;
    margin-left: 15rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
    font-size: 200%;
    font-weight: 900;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    border: 20rem;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 6rem;
    border-width: 10rem;
    border-color: blueviolet;
    color: rgb(104, 40, 165);
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 100%;

}

.formulario {
    margin-top: 10rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    color: rgb(104, 40, 165);
    font-size: 290%;
}

.formulario__relleno {
    margin-top: 5rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(104, 40, 165);
    font-size: 300%;
}

.promociones {
    text-align: left;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: medium;
}

.boton {

    background-color: beige;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    padding: 1 rem 2rem;
    text-align: center;
    margin-left: 6rem;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ubicacion__titulo {
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 500%;
    font-style: oblique;
}

.ubicacion__mapa {
    max-width: 100%;
}

.ubicacion__direccion {
    text-align: center;
    font-size: 250%;
    font-style: oblique;
}

.ubicacion__pais {
    text-align: center;
    font-size: 250%;
    font-style: oblique;
}

.ubicacion__telefono {
    text-align: center;
    font-size: 250%;
    font-style: oblique;
}

.galeria {
    text-align: center;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.galeria__imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.card__servicioimg {
    max-width: 100%;
    width: 15rem;
    height: 15rem;
}

.clientas {
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.clientas__video {
    max-width: 100%;
    width: 40rem;
    height: 40rem;
}

.card {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    border: solid .2rem rgb(24, 1, 10);
    border-width: 2rem;
    width: 30rem;
    padding: 2rem;
    display: flex;
    align-content: center;
    justify-content: right;
    align-items: center;
    margin-left: 25rem;
    background-color: #FFDFD3;
    margin-bottom: 5rem;
}

.card__parrafo {
    font-size: 1.8rem;
    margin-bottom: 5rem;
    display: flex;
    justify-items: center;
    align-items: center;
}

.card__img {
    width: 50%;
    height: 50%
}

footer {
    background-color: rgb(206, 175, 198);
}

.icono {
    max-width: 100%;
    width: 2rem;
    height: 2rem;
}

.footer__parrafo {
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(37, 9, 63);
}